<!DOCTYPE html>
<!-- saved from url=(0055)https://mobirise.com/extensions/techm4/techcompany.html -->
<html class="desktop mbr-site-loaded"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Site made with Mobirise Website Builder v4.9.5, https://mobirise.com -->
  
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v4.9.5, mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="./Tech Company Web Page Design Template – TasteM4_files/logo2.png" type="image/x-icon">
  <meta name="description" content="Tech Company Design Web Page Template
- Download now!
">
  
  <title>Tech Company Web Page Design Template – TasteM4</title>
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/mobirise-icons.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/mobirise2.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/tether.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/style.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/bootstrap.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/bootstrap-grid.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/style(1).css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/styles.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/data-tables.bootstrap4.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/progress.min.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/jquery.formstyler.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/style(2).css">
  <link rel="stylesheet" href="./Tech Company Web Page Design Template – TasteM4_files/mbr-additional.css" type="text/css">
  
  
  
<style type="text/css" id="jarallax-clip-0">#jarallax-container-0 {
           clip: rect(0 1519.2000732421875px 903px 0);
           clip: rect(0, 1519.2000732421875px, 903px, 0);
        }</style><style type="text/css" id="jarallax-clip-1">#jarallax-container-1 {
           clip: rect(0 1519.2000732421875px 637.6000366210938px 0);
           clip: rect(0, 1519.2000732421875px, 637.6000366210938px, 0);
        }</style></head>
<body><section id="top-1" class="engine"><a href="https://mobirise.ws/">Mobirise Website Builder</a> v4.9.5</section>

<!-- Google Analytics -->
<!-- Google Analytics -->
<script type="application/json">
{
  "vars": {
    "account": "UA-63126154-1"
  },
  "triggers": {
    "trackPageview": {
      "on": "visible",
      "request": "pageview"
    }
  }
}
</script>
<!-- /Google Analytics -->
<!-- /Google Analytics -->


  <section class="menu cid-rleLZvb3vv" id="menu06-5n">

    

    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <div class="menu-content-top">
            <div class="menu-logo">
                <div class="navbar-brand">
                    
                    <span class="navbar-caption-wrap"><a href="https://mobirise.com/extensions/techm4/index.html" class="brand-link mbr-black text-info display-5">
                            TechM4</a></span>
                </div>
            </div>
            <div class="menu-content-right">
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mobi-mbri-phone mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">+ (123) 1800-567-8990</p>
                        <p class="widget-text mbr-fonts-style display-4">+ (123) 1800-567-8990</p>
                    </div>
                </div>
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mobi-mbri-watch mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                    <div class="widget-content display-4">
                        <p class="widget-title mbr-fonts-style display-4">Mon - Fri: 9:00AM - 5:00PM</p>
                        <p class="widget-text mbr-fonts-style display-4">Sat - Sun: Closed</p>
                    </div>
                </div>
                <div class="info-widget">
                    <span class="widget-icon mbr-iconfont mobi-mbri-letter mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                    <div class="widget-content mbr-fonts-style">
                        <p class="widget-title display-4">office@example.com</p>
                        <p class="widget-text mbr-fonts-style display-4">info@medical.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-bottom">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown js-float-line" data-app-modern-menu="true"><li class="nav-item">
                        <a class="nav-link link mbr-black text-info display-4" href="https://mobirise.com/extensions/techm4/index.html">
                            Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link mbr-black text-info display-4" href="https://mobirise.com/">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link mbr-black text-info display-4" href="https://mobirise.com/">
                            Contacts
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link link mbr-black text-info dropdown-toggle display-4" href="https://mobirise.com/" data-toggle="dropdown-submenu" aria-expanded="false">
                            Demo</a><div class="dropdown-menu"><a class="mbr-black text-info dropdown-item display-4" href="https://mobirise.com/extensions/techm4/saascloud.html">SaaS Cloud</a><a class="mbr-black text-info dropdown-item display-4" href="https://mobirise.com/extensions/techm4/gadgetsite.html" aria-expanded="false">Gadget Site</a><a class="mbr-black text-info dropdown-item display-4" href="https://mobirise.com/extensions/techm4/techcompany.html" aria-expanded="false">Tech Company</a></div>
                    </li></ul>
                <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-success display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-letter mbr-iconfont mbr-iconfont-btn"></span>
                        Сontacts</a></div>
            </div>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
        </div>
    </nav>
</section>

<section class="cid-rleMsGxdOA mbr-parallax-background" id="header02-5q" style="z-index: 0; background-image: none; position: relative;">

    

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(113, 108, 128);"></div>

    <div class="container align-center">
        <div class="row justify-content-md-start justify-content-md-center">
            <div class="mbr-white col-md-12 col-lg-7">
                <h2 class="mbr-section-title mbr-regular pb-3 align-left mbr-fonts-style display-1" style="text-align: center">Tech Company</h2>
                <h1 class="mbr-section-title mbr-regular pb-3 align-left mbr-fonts-style display-4">Web Page Design Template</h1>
                
                <p class="mbr-text mbr-light pb-3 align-left mbr-fonts-style display-7">
                    We are a team of cutting-edge specialists providing high - high quality, prompt, value-added solutions to our customers. Our success is attained through sincerity in thought, word and activity towards our customers, fellow workers, neighborhoods and suppliers. Whould you like to try web Page Design Template?</p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a>
                    <a class="btn btn-md btn-secondary display-4" href="https://mobirise.co/">CONTACT US</a></div>
            </div>
        </div>
    </div>
    
<div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/extensions/techm4/assets/images/background10.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1519.2px; height: 827.4px; overflow: hidden; pointer-events: none; margin-top: -56.7px; transform: translate3d(0px, 56.7px, 0px);"></div></div></section>

<section class="features1 cid-rlf7v0xfOP" id="features04-7r">

    

    
    <div class="container">
        <div class="media-container-row">

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-2 align-left mbr-fonts-style display-5">
                        Modern Technologies</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        Technology improves the means we perform organisation operations.</p>
                </div>
            </div>

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-2 align-left mbr-fonts-style display-5">Active community</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        Area advertising and marketing is a technique to engage a target.
                    </p>
                </div>
            </div>

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-2 align-left mbr-fonts-style display-5">

                        Multifunctional</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        The effective exploitation of originalities is important to a service.
                    </p>
                </div>
            </div>

            

        </div>

        <div class="media-container-row pt-3">

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-2 align-left mbr-fonts-style display-5">Big Projects</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        We know how to work with big projects.</p>
                </div>
            </div>

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title py-2 align-left mbr-fonts-style display-5">Web Solution</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        We constantly solve different web issues.
                    </p>
                </div>
            </div>

            <div class="card cardcolor p-3 col-12 col-md-8 col-lg-4">
                <div class="card-img pt-2">
                    <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                </div>
                <div class="card-box">
                    <h4 class="card-title align-left py-2 mbr-fonts-style display-5">Market Analysis</h4>
                    <p class="mbr-text align-left mbr-fonts-style display-4">
                        Our analytics work in our team for 5 years and have a great experience.
                    </p>
                </div>
            </div>

            

        </div>


    </div>

</section>

<section class="header4 cid-rlqFCvwlj5" id="content06-9h">

    

    

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-6 align-left">
                <h2 class="mbr-section-title align-left mbr-white mbr-fonts-style display-2">Innovative Technology
                    For Your Business</h2>
            </div>


            <div class="col-md-12 col-lg-6 block-border align-left">
                <p class="mbr-text align-left mbr-fonts-style display-7">
                    Technological advancement is an extended idea of technology. While technology is a rather-well specified concept, it has a wide definition to lots of people, and also particularly numerous understanding in the academic and also service world. What's your opinion of Web Page Design Template Technic company?<br></p>

            </div>



        </div>
    </div>
</section>

<section class="features2 cid-rlf7zVPuy8" id="features012-7s">

    

    

    <div class="container">
        

        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/03.jpg" alt="Web Page Design Template">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left pb-3 mbr-fonts-style display-5">Modern Technologies</h4>
                        <p class="mbr-text align-left mbr-fonts-style display-4">Development, as well as modern technology, go hand in hand - that virtually do without stating.</p>

                        <div class="mbr-section-btn"><a class="btn btn-md btn-info-outline display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>READ MORE</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/04.jpg" alt="Web Design Page Template">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title pb-3 align-left mbr-fonts-style display-5">Big Projects</h4>
                        <p class="mbr-text align-left mbr-fonts-style display-4">It can be practical to concentrate your innovation initiatives on places where you have recurring challenges.</p>

                        <div class="mbr-section-btn"><a class="btn btn-md btn-info-outline display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/07.jpg" alt="Web Page Design Theme">
                    </div>
                    <div class="card-box align-left">
                        <h4 class="card-title align-left pb-3 mbr-fonts-style display-5">
                            Multifunctional
                        </h4>
                        <p class="mbr-text align-left mbr-fonts-style display-4">The effective exploitation of originalities is important to a service being able to enhance its treatments.</p>

                        <div class="mbr-section-btn"><a class="btn btn-md btn-info-outline display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

<section class="cid-rlfakgRAMH" id="header03-7y">

    

    


    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1380" height="810px" viewBox="0 -8.992806499463768e-14 1380 810" preserveAspectRatio="xMidYMid meet">
        <rect id="svgEditorBackground" x="0" y="0" width="1380" height="810" style="fill: none; stroke: none;"></rect>
        <defs id="svgEditorDefs">
            <polygon id="svgEditorShapeDefs" style="fill:khaki;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px;"></polygon>
            <path id="svgEditorClosePathDefs" style="stroke:black;stroke-width:1px;fill:khaki;"></path>
        </defs>
        <path d="M15083.791600683318,645.6720847341486c496.6000000000058,747.7999999999951,1953.3704016668416,1862.6734725832403,2751.999999999978,1967.9999999999955s1884.300000000003,-198.89999999999964,2718.7056474818382,-552.6365690040448s1746.4898225846773,-519.9524548776521,2593.2943525181545,-567.3634309959566s2251,-23.399999999999636,4384,1520.0000000000032s3205.199999999997,1437.2000000000025,4047.9999999999854,1520.0000000000018s3305.000000000029,-270.2999999999993,4640.000000000029,-1152s74.60000000000582,3328.3000000000065,32,3792.0000000000073s-19509.4,4591.000000000004,-21087.999999999993,-128.00000000000182s-1679.5999999999913,-6358.300000000001,-80,-6400Z" style="stroke:black;fill:khaki;stroke-width:0px;" id="e12_areaS3" transform="matrix(0.0650006 -0.00123765 0.00123765 0.0650006 -995.543 317.589)"></path>
        <path d="M12434.469938292996,-979.2324603008726c496.600000000004,747.8000000000001,1953.3704016668398,1862.673472583247,2752.000000000018,1967.9999999999995s1884.2999999999865,-198.90000000000055,2718.7056474818364,-552.6365690040473s1746.4898225846846,-519.9524548776479,2593.2943525181618,-567.3634309959524s2251,-23.400000000001455,4384,1520s3205.199999999997,1437.1999999999962,4048,1519.9999999999955s3304.9999999999927,-270.3000000000011,4640,-1151.9999999999955s74.60000000000582,3328.3,32,3791.9999999999955s-19509.400000000023,4590.999999999997,-21088.000000000015,-127.99999999999818s-1679.5999999999985,-6358.300000000008,-80,-6400.0000000000055Z" style="stroke:black;fill:aqua;stroke-width:0px;" id="e19_areaS3" transform="matrix(0.0647268 0.00608646 -0.00608646 0.0647268 -823.261 331.266)"></path><text dy="-0.5em" style="fill:black;font-family:Arial;font-size:20px;" id="e14_texte" transform="matrix(0.0640454 0 0 0.0640454 -832.187 329.878)">
            <textpath id="e13_textPath" xlink:href="#e12_areaS3">T</textpath>
        </text>
    </svg>

    <div class="box"></div>

    <div class="container align-center">
        <div class="row">
            <div class="col-md-12 col-lg-6 py-4 m-auto">
                <h2 class="mbr-section-title mbr-regular pb-3 align-left mbr-fonts-style display-1">Innovative Technology</h2>
                
                <p class="mbr-text mbr-light pb-3 align-left mbr-fonts-style display-7">
                    Technological advancement is an extended idea of technology. While technology is a rather-well specified concept.</p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a>
                    <a class="btn btn-md btn-secondary display-4" href="https://mobirise.co/">CONTACT US</a></div>
            </div>

            <div class="col-lg-6 col-md-12 align-center">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/01.jpg" alt="Web Design Template">

            </div>
        </div>



    </div>
    
</section>

<section class="header4 cid-rlfa7hhBoL" id="content07-7w">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class=" col-md-12 col-lg-12 align-left">
                
                <h2 class="mbr-section-title align-left mbr-white pb-2 mbr-fonts-style display-5">Solutions For Your Business</h2>
            </div>
            <div class=" col-md-12 col-lg-6 align-left">
                <p class="mbr-text align-left mbr-fonts-style display-7">
                    The effective exploitation of originalities is vital to a service being able to improve its procedures, bring new as well as improved products and services to market, boost its efficiency and also, most notably, enhance its productivity. Would you like to try Web Page Design Template?</p>
            </div>

            <div class=" col-md-12 col-lg-6 align-left">
                <p class="mbr-text align-left mbr-fonts-style display-7">
                    Technological advancement is an extended idea of technology. While technology is a rather-well specified concept, it has a wide definition to lots of people, and also particularly numerous understanding in the academic and also service world. Web Page Design Template contains all you need for the successful site creation.</p>
            </div>



        </div>
    </div>
</section>

<section class="cid-rlfa6AcanJ" id="content04-7v">

    

    

    <div class="container">
        <div class="row justify-content-center">
            
            
            
            <div class="col-6 col-md-3 col-lg-3 md-pb">
                
                <h3 class="col-title1 mbr-semibold pb-3 mbr-fonts-style display-7">Programming</h3>
                <ul class="list">
                    
                <li class="item-wrap align-left">
                        <span class="mbr-iconfont mobi-mbri-paper-plane mobi-mbri" style="color: rgb(191, 206, 255); fill: rgb(191, 206, 255);"></span>
                        <h4 class="item1 mbr-regular mbr-fonts-style display-4">C++</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-paperclip mobi-mbri" style="color: rgb(191, 206, 255); fill: rgb(191, 206, 255);"></span>
                        <h4 class="item1 mbr-regular mbr-fonts-style display-4">Java</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-protect mobi-mbri" style="color: rgb(191, 206, 255); fill: rgb(191, 206, 255);"></span>
                        <h4 class="item1 mbr-regular mbr-fonts-style display-4">Swift</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-setting mobi-mbri" style="color: rgb(191, 206, 255); fill: rgb(191, 206, 255);"></span>
                        <h4 class="item1 mbr-regular mbr-fonts-style display-4">Python</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-target mobi-mbri" style="color: rgb(191, 206, 255); fill: rgb(191, 206, 255);"></span>
                        <h4 class="item1 mbr-regular mbr-fonts-style display-4">Pascal</h4>
                    </li></ul>
         
            </div>
            
             <div class="col-6 col-md-3 col-lg-3 md-pb">
                
                <h3 class="col-title2 mbr-semibold pb-3 mbr-fonts-style display-7">Research</h3>
                <ul class="list">
                    
                <li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-idea mobi-mbri" style="color: rgb(85, 128, 255); fill: rgb(85, 128, 255);"></span>
                        <h4 class="item2 mbr-regular mbr-fonts-style display-4">Develop</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-layers mobi-mbri" style="color: rgb(85, 128, 255); fill: rgb(85, 128, 255);"></span>
                        <h4 class="item2 mbr-regular mbr-fonts-style display-4">Design</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-features mobi-mbri" style="color: rgb(85, 128, 255); fill: rgb(85, 128, 255);"></span>
                        <h4 class="item2 mbr-regular mbr-fonts-style display-4">Architecture</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-globe-2 mobi-mbri" style="color: rgb(85, 128, 255); fill: rgb(85, 128, 255);"></span>
                        <h4 class="item2 mbr-regular mbr-fonts-style display-4">Users</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-sites mobi-mbri" style="color: rgb(85, 128, 255); fill: rgb(85, 128, 255);"></span>
                        <h4 class="item2 mbr-regular mbr-fonts-style display-4">Data</h4>
                    </li></ul>
         
            </div>
            
            
              <div class="col-6 col-md-3 col-lg-3">
                
                <h3 class="col-title3 mbr-semibold pb-3 mbr-fonts-style display-7">Development
</h3>
                <ul class="list">
                    
                <li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-delivery mobi-mbri" style="color: rgb(255, 138, 115); fill: rgb(255, 138, 115);"></span>
                        <h4 class="item3 mbr-regular mbr-fonts-style display-4">Materials</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-save mobi-mbri" style="color: rgb(255, 138, 115); fill: rgb(255, 138, 115);"></span>
                        <h4 class="item3 mbr-regular mbr-fonts-style display-4">Technology</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-image-slider mobi-mbri" style="color: rgb(255, 138, 115); fill: rgb(255, 138, 115);"></span>
                        <h4 class="item3 mbr-regular mbr-fonts-style display-4">Anatomy</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-mobirise mobi-mbri" style="color: rgb(255, 138, 115); fill: rgb(255, 138, 115);"></span>
                        <h4 class="item3 mbr-regular mbr-fonts-style display-4">Design</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-paperclip mobi-mbri" style="color: rgb(255, 138, 115); fill: rgb(255, 138, 115);"></span>
                        <h4 class="item3 mbr-regular mbr-fonts-style display-4">Electronics</h4>
                    </li></ul>
         
            </div>
                
         <div class="col-6 col-md-3 col-lg-3">
                
                <h3 class="col-title4 mbr-semibold pb-3 mbr-fonts-style display-7">Phases</h3>
                <ul class="list">
                    
                <li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-globe mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        <h4 class="item4 mbr-regular mbr-fonts-style display-4">Research</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-contact-form mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        <h4 class="item4 mbr-regular mbr-fonts-style display-4">Wireframing</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-download-2 mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        <h4 class="item4 mbr-regular mbr-fonts-style display-4">Prototype</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-windows mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        <h4 class="item4 mbr-regular mbr-fonts-style display-4">Testing</h4>
                    </li><li class="item-wrap">
                        <span class="mbr-iconfont mobi-mbri-to-local-drive mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        <h4 class="item4 mbr-regular mbr-fonts-style display-4">Deployment</h4>
                    </li></ul>
         
            </div>
            
            
            
        </div>
    </div>
</section>

<section class="features1 cid-rlfacfJhYr" id="features010-7x">

    

    

    <svg class="svg1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1380px" height="810px" viewBox="0 0  1380 810" preserveAspectRatio="xMidYMid meet">
        <rect id="svgEditorBackground" x="0" y="0" width="1380" height="810" style="fill: none; stroke: none;"></rect>
        <circle id="e1_circle" cx="309" cy="433" style="fill:aqua;stroke:black;stroke-width:0px;" r="149.486"></circle>
        <circle id="e3_circle" cx="679" cy="707" style="fill: aqua; stroke-width: 0px;stroke:black;" r="516.715">
        </circle>
        <circle id="e4_circle" cx="759" cy="261" style="fill:aqua;stroke:black;stroke-width:0px;" r="132.2459829258">
        </circle>
        <circle id="e5_circle" cx="1054" cy="462" style="fill:aqua;stroke:black;stroke-width:0px;" r="139.413"></circle>
        <circle id="e6_circle" cx="691" cy="692" style="fill:khaki;stroke:black;stroke-width:0px;" r="367.214"></circle>
    </svg>

    <div class="round round1"></div>
    <div class="round round2 rev"></div>
    <div class="round round3"></div>

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-12 col-md-12 col-lg-6">



                <div class="item">
                    <h2 class="title align-left mbr-regular pb-3 mbr-fonts-style display-2">Innovative Technology<br> For Your Business</h2>
                </div>

                <div class="item">
                    <div class="card-img">
                        <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-fonts-style display-7">
                            Modern Technologies</h4>

                    </div>
                </div>

                <div class="item">
                    <div class="card-img">
                        <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-fonts-style display-7">Active community</h4>

                    </div>
                </div>

                <div class="item">
                    <div class="card-img">
                        <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-fonts-style display-7">

                            Multifunctional</h4>

                    </div>
                </div>

                <div class="item">
                    <div class="card-img">
                        <span class="mbr-iconfont img1 mobi-mbri-success mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title align-left mbr-fonts-style display-7">
                            Security</h4>

                    </div>
                </div>
            </div>

            <div class="col-12 col-md-12 col-lg-6 m-auto align-center">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/03.jpg" alt="Page Web Design Template">
            </div>



        </div>
    </div>

</section>

<section class="cid-rlfb0Yv10B" id="content02-88">

    

    



    <div class="container align-center">
        <div class="row">
            <div class="col-lg-6 col-md-12 align-center">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/02.jpg" alt="Web Site Design Template">

                <h2 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Solutions For Your Business</h2>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    The efficient exploitation of originalities is vital to a solution being able to improve its procedures, bring brand-new as well as enhanced services and products to market, improve its efficiency as well as additionally, most notably, enhance its performance.
                </p>
                <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a></div>

            </div>

            <div class="col-md-12 col-lg-6 m-auto">



                <h2 class="mbr-section-title mbr-regular pt-5 align-left mbr-fonts-style display-2">Innovative Technology</h2>
                
                <p class="mbr-text mbr-light pt-4 align-left mbr-fonts-style display-7">
                    Technological advancement is an extended idea of technology. While technology is a rather-well specified concept, it has a wide definition to lots of people, and also particularly numerous understanding in the academic and also service world.
                </p>
                <div class="align-left  mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a></div>

                <div class="pt-5">
                    <img src="./Tech Company Web Page Design Template – TasteM4_files/05.jpg" alt="Mobirise Web Page Design Template">
                </div>
            </div>


        </div>



    </div>
</section>

<section class="carousel slide cid-rlqFbDNlpW" data-interval="false" id="slider01-9f">

    

    <div class="full-screen"><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false"><ol class="carousel-indicators"><li data-app-prevent-settings="" data-target="#slider01-9f" data-slide-to="0"></li><li data-app-prevent-settings="" data-target="#slider01-9f" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider01-9f" class=" active" data-slide-to="2"></li></ol><div class="carousel-inner" role="listbox"><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/background110.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="./Tech Company Web Page Design Template – TasteM4_files/background110.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-center"><h2 class="mbr-fonts-style display-1">Innovative Technology</h2><p class="lead mbr-text mbr-fonts-style display-5">Development, in addition to modern-day technology, work together - that basically do without specifying. Nevertheless, it holds true in manner ins which might stun you.</p><div class="mbr-section-btn" buttons="0"><a class="btn display-4 btn-secondary" href="https://mobirise.com/">READ MORE</a> <a class="btn  display-4 btn-primary" href="https://mobirise.com/">GET STARTED</a></div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/mbr-3.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay" style="opacity: 0.6;"></div><img src="./Tech Company Web Page Design Template – TasteM4_files/mbr-3.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-left"><h2 class="mbr-fonts-style display-1">Solutions For Your Business</h2><p class="lead mbr-text mbr-fonts-style display-5">The effective exploitation of originalities is vital to a service being able to improve its procedures, bring new as well as improved products and services to market.</p><div class="mbr-section-btn" buttons="0"><a class="btn btn-primary display-4" href="https://mobirise.com/">READ MORE</a> </div></div></div></div></div></div><div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(assets/images/mbr-9.jpg);"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="./Tech Company Web Page Design Template – TasteM4_files/mbr-9.jpg"><div class="carousel-caption justify-content-center"><div class="col-10 align-right"><h2 class="mbr-fonts-style display-1">Multifunctional</h2><p class="lead mbr-text mbr-fonts-style display-5">The effective exploitation of originalities is important to a service being able to enhance its treatments, bring new as well as improved products and services to market.</p><div class="mbr-section-btn" buttons="0"><a class="btn btn-info display-4" href="https://mobirise.com/">READ MORE</a> <a class="btn  btn-white-outline display-4" href="https://mobirise.com/">GET STARTED</a></div></div></div></div></div></div></div><a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="https://mobirise.com/extensions/techm4/techcompany.html#slider01-9f"><span aria-hidden="true" class="mbri-left mbr-iconfont"></span><span class="sr-only">Previous</span></a><a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="https://mobirise.com/extensions/techm4/techcompany.html#slider01-9f"><span aria-hidden="true" class="mbri-right mbr-iconfont"></span><span class="sr-only">Next</span></a></div></div>

</section>

<section class="header4 cid-rlqH2aBCf6" id="content05-9i">

    

    

    <div class="container">
        <div class="row justify-content-md-center">
            <div class=" col-md-12 col-lg-12 align-left">
                
                <h2 class="mbr-section-title align-left mbr-white pb-2 mbr-fonts-style display-2">Solutions For Your Business</h2>

                <p class="mbr-text align-left mbr-fonts-style display-7">
                    The effective exploitation of originalities is vital to a service being able to improve its procedures, bring new as well as improved products and services to market, boost its efficiency and also, most notably, enhance its productivity.</p>
            </div>



        </div>
    </div>
</section>

<section class="features2 cid-rlfaqpqGXZ" id="features015-7z">

    

    

    <div class="container">
        

        <div class="row justify-content-center">
            <div class="card p-3 col-12 col-md-8 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/03.jpg" alt="Web Design Template">
                    </div>
                    <div class="card-box align-left">
                        <h3 class="card-subtitle mbr-semibold align-left pb-2 mbr-fonts-style display-4">
                            FEATURES</h3>
                        <h4 class="card-title align-left pb-3 mbr-fonts-style display-5">Modern Technologies</h4>
                        <p class="mbr-text align-left mbr-fonts-style display-4">Technology improves the means we perform organisation operations and likewise both big and also regional business</p>

                        <div class="mbr-section-btn"><a class="btn btn-md btn-info-outline display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>READ MORE</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 cards col-md-8 col-lg-4">
                <div class="card-wrapper cardcenter">
                    <span class="link-ico ico2 mbr-iconfont mobi-mbri-link mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span>
                    <div class="align-left">
                        <span class="link-ico mbr-iconfont mobi-mbri-link mobi-mbri" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255); font-size: 34px;"></span>

                        <p class="text align-left pt-2 mbr-fonts-style display-5">
                            Area advertising and marketing is a technique to engage a target market in an active, non-intrusive prospect and customer conversation.</p>

                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-8 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/07.jpg" alt="Mobirise Web Page Design Template">
                    </div>
                    <div class="card-box align-left">
                        <h3 class="card-subtitle mbr-semibold align-left pb-2 mbr-fonts-style display-4">
                            FEATURES</h3>
                        <h4 class="card-title align-left pb-3 mbr-fonts-style display-5">
                            Multifunctional
                        </h4>
                        <p class="mbr-text align-left mbr-fonts-style display-4">The effective exploitation of originalities is important to a service being able to enhance its treatments.</p>

                        <div class="mbr-section-btn"><a class="btn btn-md btn-info-outline display-4" href="https://mobirise.com/"><span class="mobi-mbri mobi-mbri-right mbr-iconfont mbr-iconfont-btn"></span>READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="cid-rlfbCDCzHR" id="title01-8b">

    

    

    <div class="container align-center">
        <div class="row justify-content-md-start justify-content-md-center">
            <div class="mbr-white col-sm-12 col-md-10 col-lg-7">
                <h2 class="mbr-section-title mbr-regular align-left mbr-fonts-style display-1">Pricing Plans</h2>
                
                
                
            </div>
        </div>
    </div>
</section>

<section class="features1 cid-rlfbvjNzpH" id="pricing-tables01-8a">

    

    
    <div class="container">
        <div class="row justify-content-center">

            <div class="card col-12 col-md-8 col-lg-4">
                <div class="card-img">
                    <h4 class="price align-right mbr-fonts-style display-1">
                        78</h4>
                    <p class="price-text align-right mbr-regular mbr-fonts-style pt-2 align-left display-4">EVERY MONTH<br>OR YEARLY</p>
                </div>
                <div class="card-box">
                    <h4 class="card-title align-left mbr-regular mbr-fonts-style display-7"><strong>
                            Enterprise
                        </strong><br>We Think Ahead</h4>
                    <p class="mbr-text mbr-fonts-style align-left display-4">Modern Technologies<br>Active
                        community<br>Multifunctional<br>Innovative Ideas<br>Great Support<br>Optimal Solutions<br></p>
                    <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a></div>
                </div>
            </div>

            <div class="card col-12 col-md-8 col-lg-4">
                <div class="card-img">
                    <h4 class="price align-right  mbr-fonts-style display-1">
                        37</h4>
                    <p class="price-text mbr-fonts-style pt-2 align-right  display-4">EVERY MONTH<br>OR YEARLY</p>
                </div>
                <div class="card-box">
                    <h4 class="card-title align-left mbr-regular mbr-fonts-style display-7"><strong>Business
                        </strong><br><strong> </strong>
                        Special Offer
                    </h4>
                    <p class="mbr-text mbr-fonts-style align-left display-4">Modern Technologies
                        <br>Active community
                        <br>Multifunctional
                        <br>Innovative Ideas
                        <br>Great Support
                        <br>Optimal Solutions</p>
                    <div class="align-left mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="https://mobirise.co/">READ MORE</a></div>
                </div>
            </div>

            <div class="card col-12 col-md-8 col-lg-4">
                <div class="card-img">
                    <h4 class="price align-right mbr-fonts-style display-1">
                        78</h4>
                    <p class="price-text mbr-fonts-style pt-2 align-right  display-4">EVERY MONTH<br>OR YEARLY</p>
                </div>
                <div class="card-box">
                    <h4 class="card-title align-left mbr-regular mbr-fonts-style display-7"><strong>
                            Personal</strong><br>Our Best Solution</h4>
                    <p class="mbr-text mbr-fonts-style align-left display-4">Modern Technologies
                        <br>Active community
                        <br>Multifunctional
                        <br>Innovative Ideas
                        <br>Great Support
                        <br>Optimal Solutions</p>
                    <div class="align-left mbr-section-btn"><a class="btn btn-md btn-primary display-4" href="https://mobirise.co/">READ MORE</a></div>
                </div>
            </div>

        </div>

    </div>

</section>

<section class="section-table cid-rlfcaoP3Hq" id="table02-8f">

  
  
  <div class="container container-table">
    
    
    <div class="table-wrapper">
      <div class="container">
        
      </div>

      <div class="container">
        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_scroll"><div class="dataTables_scrollHead" style="overflow: hidden; position: relative; border: 0px; width: 100%;"><div class="dataTables_scrollHeadInner" style="box-sizing: content-box; width: 1080px; padding-right: 0px;"><table class="table dataTable no-footer" cellspacing="0" role="grid" style="margin-left: 0px; width: 1080px;"><thead>
            <tr class="table-heads " role="row"><th class="head-item1 mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 377px;" aria-label="
                Features: activate to sort column ascending">
                Features</th><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 140px;" aria-label="
                Basic: activate to sort column ascending">
                Basic</th><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 180px;" aria-label="
                Regular: activate to sort column ascending">
                Regular</th><th class="head-item mbr-fonts-style display-7 sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 206px;" aria-label="
                Premium: activate to sort column ascending">
                Premium</th></tr>
          </thead></table></div></div><div class="dataTables_scrollBody" style="position: relative; overflow: auto; width: 100%;"><table class="table dataTable no-footer" cellspacing="0" id="DataTables_Table_0" role="grid" style="width: 1079px;"><thead>
            <tr class="table-heads " role="row" style="height: 0px;"><th class="head-item1 mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 377px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                Features: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">
                Features</div></th><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 140px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                Basic: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">
                Basic</div></th><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 180px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                Regular: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">
                Regular</div></th><th class="head-item mbr-fonts-style display-7 sorting" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 206px; padding-top: 0px; padding-bottom: 0px; border-top-width: 0px; border-bottom-width: 0px; height: 0px;" aria-label="
                Premium: activate to sort column ascending"><div class="dataTables_sizing" style="height:0;overflow:hidden;">
                Premium</div></th></tr>
          </thead>
          

          <tbody>
            



            
            
            
            
          <tr role="row" class="odd">
              



              
              
              
            <td class="body-item1 mbr-fonts-style display-7">Modern Technologies</td><td class="body-item mbr-fonts-style display-7">
                70%</td><td class="body-item mbr-fonts-style display-7">
                80%</td><td class="body-item mbr-fonts-style display-7">
                100%</td></tr><tr role="row" class="even">
              



              
              
              
            <td class="body-item1 mbr-fonts-style display-7">Active community</td><td class="body-item mbr-fonts-style display-7">
                60%</td><td class="body-item mbr-fonts-style display-7">
                70%
              </td><td class="body-item mbr-fonts-style display-7">
                100%
              </td></tr><tr role="row" class="odd">
              



              
              
              
            <td class="body-item1 mbr-fonts-style display-7">Multifunctional</td><td class="body-item mbr-fonts-style display-7">
                50%
              </td><td class="body-item mbr-fonts-style display-7">
                60%
              </td><td class="body-item mbr-fonts-style display-7">
                100%
              </td></tr><tr role="row" class="even">
              



              
              
              
            <td class="body-item1 mbr-fonts-style display-7">Innovative Ideas</td><td class="body-item mbr-fonts-style display-7">
                -
              </td><td class="body-item mbr-fonts-style display-7">
                30%
              </td><td class="body-item mbr-fonts-style display-7">
                100%
              </td></tr><tr role="row" class="odd">
              



              
              
              
            <td class="body-item1 mbr-fonts-style display-7">Optimal Solutions</td><td class="body-item mbr-fonts-style display-7">
                -
              </td><td class="body-item mbr-fonts-style display-7">
                -</td><td class="body-item mbr-fonts-style display-7">
                100%
              </td></tr></tbody>
        </table></div></div></div>
      </div>
      <div class="container table-info-container">
        
      </div>
    </div>
  </div>
</section>

<section class="progress-bars3 cid-rlfbP7o1vY" id="progress-bars02-8c">

    

    

    <div class="container">
        

        

        <div class="media-container-row">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="37" aria-valuenow="37">
                        <p class="pie_progress__number number mbr-fonts-style display-5">37%</p>
                    <div class="undefined"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 150 150"><ellipse rx="71" ry="71" cx="75" cy="75" stroke="#f2f2f2" fill="none" stroke-width="8"></ellipse><path fill="none" stroke-width="8" stroke="url(#progress-bars02-8c-svg-gradient)" d="M75,4 A71,71 0 0 1 126.75677254692022,123.6028445209369" style="stroke-dasharray: 165.063, 165.063; stroke-dashoffset: 0;"></path></svg></div></div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Modern&nbsp;</h4>
                    <p class="card-text py-2 mbr-fonts-style display-7">Development, as well as modern technology, go hand in hand - that virtually do without stating.</p>
                </div>
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="60" aria-valuenow="60">
                        <p class="pie_progress__number number mbr-fonts-style display-5">60%</p>
                    <div class="undefined"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 150 150"><ellipse rx="71" ry="71" cx="75" cy="75" stroke="#f2f2f2" fill="none" stroke-width="8"></ellipse><path fill="none" stroke-width="8" stroke="url(#progress-bars02-8c-svg-gradient)" d="M75,4 A71,71 0 1 1 33.26724708723444,132.4402066006213" style="stroke-dasharray: 267.674, 267.674; stroke-dashoffset: 0;"></path></svg></div></div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Active&nbsp;</h4>
                    <p class="card-text py-2 mbr-fonts-style display-7">Area advertising and marketing is a technique to engage a target market in an active prospect.</p>
                </div>
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="70" aria-valuenow="70">
                        <p class="pie_progress__number number mbr-fonts-style display-5">70%</p>
                    <div class="undefined"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 150 150"><ellipse rx="71" ry="71" cx="75" cy="75" stroke="#f2f2f2" fill="none" stroke-width="8"></ellipse><path fill="none" stroke-width="8" stroke="url(#progress-bars02-8c-svg-gradient)" d="M75,4 A71,71 0 1 1 7.474987343044106,96.94020660062128" style="stroke-dasharray: 312.303, 312.303; stroke-dashoffset: 0;"></path></svg></div></div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Multifunctional
                    </h4>
                    <p class="card-text py-2 mbr-fonts-style display-7">The effective exploitation of originalities is important to a service being able to enhance its treatments.</p>
                </div>
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress4" role="progressbar" data-goal="80" aria-valuenow="80">
                        <p class="pie_progress__number number mbr-fonts-style display-5">80%</p>
                    <div class="undefined"><svg version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 150 150"><ellipse rx="71" ry="71" cx="75" cy="75" stroke="#f2f2f2" fill="none" stroke-width="8"></ellipse><path fill="none" stroke-width="8" stroke="url(#progress-bars02-8c-svg-gradient)" d="M75,4 A71,71 0 1 1 7.474987343044091,53.05979339937875" style="stroke-dasharray: 356.898, 356.898; stroke-dashoffset: 0;"></path></svg></div></div>
                </div>
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Security
                    </h4>
                    <p class="card-text py-2 mbr-fonts-style display-7">We always care about our clients' security. Their information is very important to us.</p>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="testimonials1 cid-rlfaGWNKYB" id="team02-85">

    

    
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-regular mbr-fonts-style display-2">
                    Our Team</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial align-center col-12 col-md-6 col-lg-3">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="./Tech Company Web Page Design Template – TasteM4_files/face1.jpg">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5">
                            John Smith
                        </div>
                        <small class="mbr-author-desc pt-3 mbr-regular mbr-fonts-style display-4">
                            DEVELOPER</small>

                        <div class="social-list pt-4 pl-0 mb-0">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="px-2 icon1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="px-2 icon2 mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="px-2 icon3 mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mbr-testimonial align-center col-12 col-md-6 col-lg-3">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="./Tech Company Web Page Design Template – TasteM4_files/face2.jpg">
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5">
                            Ann Jane</div>
                        <small class="mbr-author-desc pt-3 mbr-regular mbr-fonts-style display-4">
                            DESIGNER</small>

                        <div class="social-list pt-4 pl-0 mb-0">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="px-2 icon1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="px-2 icon2 mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="px-2 icon3 mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mbr-testimonial align-center col-12 col-md-6 col-lg-3">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="./Tech Company Web Page Design Template – TasteM4_files/face3.jpg">
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5">
                            Ben James</div>
                        <small class="mbr-author-desc pt-3 mbr-regular mbr-fonts-style display-4">
                            MANAGER</small>

                        <div class="social-list pt-4 pl-0 mb-0">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="px-2 icon1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="px-2 icon2 mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="px-2 icon3 mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="mbr-testimonial align-center col-12 col-md-6 col-lg-3">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="./Tech Company Web Page Design Template – TasteM4_files/face4.jpg">
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-semibold mbr-fonts-style display-5">
                            Dan Brown</div>
                        <small class="mbr-author-desc pt-3 mbr-regular mbr-fonts-style display-4">
                            MARKETING</small>

                        <div class="social-list pt-4 pl-0 mb-0">
                            <a href="https://twitter.com/mobirise" target="_blank">
                                <span class="px-2 icon1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon"></span>
                            </a>
                            <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                                <span class="px-2 icon2 mbr-iconfont mbr-iconfont-social socicon-twitter socicon"></span>
                            </a>
                            <a href="https://instagram.com/mobirise" target="_blank">
                                <span class="px-2 icon3 mbr-iconfont mbr-iconfont-social socicon-googleplus socicon"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<section class="tabs1 cid-rlqwz5mTmk" id="tabs03-95">

    

    
    <div class="container">
        
        <div class="row">
            <div class="col-12 col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item first"><a class="nav-link mbr-fonts-style display-7 active" role="tab" data-toggle="tab" href="https://mobirise.com/extensions/techm4/techcompany.html#tabs03-95_tab0" aria-selected="true">
                            Programming</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" href="https://mobirise.com/extensions/techm4/techcompany.html#tabs03-95_tab1" aria-selected="false">
                            Research</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" href="https://mobirise.com/extensions/techm4/techcompany.html#tabs03-95_tab2" aria-selected="true">
                            Development</a></li>
                    <li class="nav-item"><a class="nav-link mbr-fonts-style display-7" role="tab" data-toggle="tab" href="https://mobirise.com/extensions/techm4/techcompany.html#tabs03-95_tab3" aria-selected="true">
                            Phases</a></li>
                    
                    
                </ul>
                <div class="tab-content">
                    <div id="tabs03-95_tab0" class="tab-pane in active" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text pt-3 mbr-fonts-style display-7">
                                    A new research study by the Cloud Shop Foundation reveals business are choosing to release a multilingual technique thanks to a reduction in focus on which language developers must make use of. Java and JavaScript are without a doubt one of the most preferred languages among developers. While there is uniformity among which languages are one of the most preferred throughout the venture developer landscape, there are specific languages which are particularly dominant amongst particular target markets - based upon area, business size, and also extra. Would you like to check all the options of Web Page Design Template tech company?</p>
                            </div>
                        </div>
                    </div>
                    <div id="tabs03-95_tab1" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text pt-3 mbr-fonts-style display-7">
                                    Guidepoint helps clients remain informed and make much better service choices. Our groups are motivated to supply customized offerings designed to assist every prospective client take advantage of their collaboration with Guidepoint. Organisation Development is supplying a research study/ working as a consultant history. It will be in charge of assisting in constructing a pipeline of leads from corporations throughout a variety of company industries.</p>
                            </div>
                        </div>
                    </div>
                    <div id="tabs03-95_tab2" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text pt-3 mbr-fonts-style display-7">
                                    The effective exploitation of originalities is important to a solution having the ability to boost its treatments, bring new along with enhanced product or services to market, improve its effectiveness and likewise, most significantly, boost its productivity. Industries - whether area, local, across the country or worldwide - are becoming very affordable. Competitors has really improved as an outcome of wider availability to brand-new innovations and the enhanced trading and knowledge-sharing possibilities supplied by the Web. Web Page Design Template is onf of the best Mobirise templates.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="tabs03-95_tab3" class="tab-pane" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mbr-text pt-3 mbr-fonts-style display-7">
                                    Business life cycle is the development of a company as well as its stages with time, and is most typically separated into five phases: launch, growth, shake-out, maturity, and also decline. The cycle is revealed on a graph with the horizontal axis as time, and also the upright axis as bucks or various financial metrics. In this short article, we will certainly utilize 3 economic metrics to describe the condition of each business life process stage, including sales, profit, and also capital.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cid-rlfaMJWTpm mbr-parallax-background" id="testimonials02-87" style="z-index: 0; background-image: none; position: relative;">

    

    <div class="mbr-overlay" style="background-color: rgb(35, 35, 35); opacity: 0.4;"></div>



    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-6">
                <h2 class="mbr-section-title mbr-regular pb-3 align-left mbr-fonts-style display-1" style="color: white">Client's Words</h2>
                
                <p class="mbr-text mbr-light pb-4 align-left mbr-fonts-style display-7">
                    I'm really entertained by their work. Applications work truly fast. It's a truly great pleasure to handle their items.
                </p>

                <div class="author-box">

                    <div class="img-box">
                        <img class="face" src="./Tech Company Web Page Design Template – TasteM4_files/face1.jpg" alt="Web Page Landing Design Template">
                    </div>

                    <div class="author mbr-m-auto">
                        <h3 class="mbr-semibold pb-2 mbr-fonts-style display-5">Mark Strong</h3>
                        <h4 class="mbr-semibold mbr-fonts-style display-4">WEB DEVELOPER</h4>
                    </div>
                </div>


            </div>



        </div>



    </div>

<div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; z-index: -100;"><div style="background-position: 50% 50%; background-size: cover; background-repeat: no-repeat; background-image: url(&quot;https://mobirise.com/extensions/techm4/assets/images/background10.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1519.2px; height: 668.16px; overflow: hidden; pointer-events: none; margin-top: 22.92px; transform: translate3d(0px, 5420.9px, 0px);"></div></div></section>

<section class="cid-rlfaBgFiaN" id="clients02-83">
    <!-- Block parameters controls (Blue "Gear" panel) -->
    
    <!-- End block parameters -->
    <div class="container images-container">
        <div class="row justify-content-center">


            <div class="col-md-12">

                <h2 class="mbr-section-title mbr-regular pb-3 align-center mbr-fonts-style display-2">Meet Our Amazing Clients</h2>
                
                <p class="mbr-text mbr-light pb-5 align-center mbr-fonts-style display-7">
                    Meet our stunning clients, with which we collaborate for several years.</p>
            </div>



            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/1.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/2.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/3.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/4.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/5.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/1.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/2.png">
            </div>
            <div class="col-md-3 card">
                <img src="./Tech Company Web Page Design Template – TasteM4_files/3.png">
            </div>
            
            
            
            




        </div>
    </div>
</section>

<section class="accordion1 cid-rlqERWQ3Jn" id="accordion02-9e">

    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="section-head text-center space30">
                    <h2 class="mbr-section-title mbr-regular pb-5 mbr-fonts-style display-2">
                        Questions and Answers</h2>
                </div>
                <div class="clearfix"></div>
                <div id="bootstrap-accordion_205" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed text-black" data-toggle="collapse" data-core="" href="https://mobirise.com/extensions/techm4/techcompany.html#collapse1_205" aria-expanded="false" aria-controls="collapse1">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>What technologies do we use?</h4>
                            </a>
                        </div>
                        <div id="collapse1_205" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_205">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Modern technology is altering at a startling rate nowadays. One of the things that web designers and also internet designers are expected to do in order to work far better is to stay up to date with all the modifications as and also when they occur. This is essential in order to develop projects that are relevant and appropriate in the altering times. We're using only the latest technologies.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingTwo">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="https://mobirise.com/extensions/techm4/techcompany.html#collapse2_205" aria-expanded="false" aria-controls="collapse2">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Why we have the largest community?</h4>
                            </a>

                        </div>
                        <div id="collapse2_205" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_205">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                    Location advertising and marketing is a strategy to engage a target audience in an active, non-intrusive prospect as well as consumer conversation. Whereas marketing and advertising communication strategies such as advertising, promotion, Public Relations, as well as sales all focus on obtaining clients, Neighborhood Marketing and advertising focuses on the regarded requirements of existing clients. We are the largest community because we listen our cliesnts and trying o help us.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingThree">
                            <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-core="" href="https://mobirise.com/extensions/techm4/techcompany.html#collapse3_205" aria-expanded="false" aria-controls="collapse3">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>How we achieve multifunctionality?</h4>
                            </a>
                        </div>
                        <div id="collapse3_205" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_205">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">Multifunctionality is the mix of different residential properties in one material so as to make it suitable for the usage in applications in which various loading conditions must be sustained. We are following the latest trands and asking people of what they want.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" role="tab" id="headingFour">
                            <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="https://mobirise.com/extensions/techm4/techcompany.html#collapse4_205" aria-expanded="false" aria-controls="collapse4">
                                <h4 class="mbr-fonts-style display-5">
                                    <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>Why work with us better?</h4>
                            </a>
                        </div>
                        <div id="collapse4_205" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_205">
                            <div class="panel-body p-4">
                                <p class="mbr-fonts-style panel-text display-7">
                                    We work better because we pay a lot of attention to our clients wishes, use the latest technologies and work with feedbacks,trying to improve the work.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section class="form cid-rlhJhNM9ZO" id="forms01-8s">
    
    <div class="mbr-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-10 col-md-12  my-auto pb-4 mbr-form" data-form-type="formoid">
                <!---Formbuilder Form--->
                <form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="yt7XHghBkWpR7BS8HDt0cATtVbuqwx1SGfvxWm6XV4nvpTeG1ZDuEji09OIqZw9uP/ydz2OMcjaeOLqlM0KwNkf+HPA0QCDCt/ClA+U7M8B0t3FLfAyuLCEVkZO13bIx">
                    <div class="form-row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">Oops...! some problem!</div>
                    </div>
                    <div class="dragArea form-row">
                        <div class="col-lg-12">
                            <h5 class="mbr-fonts-style display-2">Get In Touch With Us</h5>
                        </div>
                        <div class="col-lg-12 form-group" data-for="Full Name">
                            <input type="text" name="Full Name" placeholder="Full Name" data-form-field="Name" required="required" class="form-control display-7" value="" id="Full Name-forms01-8s">
                        </div>
                        <div data-for="First Name" class="col-lg-6 form-group">
                            <input type="email" name="First Name" placeholder="First Name" data-form-field="First" class="form-control display-7" required="required" value="" id="First Name-forms01-8s">
                        </div>
                        <div data-for="Email" class="col-lg-6 form-group">
                            <input type="tel" name="Email" placeholder="Email" data-form-field="Email" class="form-control display-7" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required="required" value="" id="Email-forms01-8s">
                        </div>
                        <div data-for="Message" class="col-lg-12 form-group">
                            <textarea name="Message" placeholder="Message" data-form-field="Message" class="form-control display-7" value="" id="Message-forms01-8s"></textarea>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary display-7">SEND</button>
                        </div>
                    </div>
                </form>
                <!---Formbuilder Form--->
            </div>



        </div>

    </div>
</section>

<section class="cid-rlfauKN24g" id="footer03-81">

    

    



    <div class="container">
        <div class="media-container-row content text-white">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="media-wrap align-left">
                    <a href="https://mobirise.co/">
                        <img src="./Tech Company Web Page Design Template – TasteM4_files/logo2.png" alt="Web Site Design Template">
                    </a>
                </div>

                <p class="mbr-text align-left text1 mbr-fonts-style display-4">
                    We would be happy to answer your questions.
                </p>

                <div class="social-list align-left">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.youtube.com/c/mobirise" target="_blank">
                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                        </a>
                    </div>
                    
                    

                </div>


            </div>
            <div class="col-12 col-md-6 col-lg-3 mbr-fonts-style display-4">
                <h5 class="pb-3 align-left">
                    Contact Info
                </h5>


                <div class="item">
                    <div class="card-img"><span class="mbr-iconfont img1 mobi-mbri-map-pin mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="item-title align-left mbr-fonts-style display-4">1234 Street Name</h4>
                    </div>
                </div>

                <div class="item">
                    <div class="card-img"><span class="mbr-iconfont img1 mobi-mbri-pin mobi-mbri"></span></div>
                    <div class="card-box">
                        <h4 class="item-title align-left mbr-fonts-style display-4">City, AA 99999</h4>
                    </div>
                </div>

                <div class="item">
                    <div class="card-img"><span class="mbr-iconfont img1 mobi-mbri-letter mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="item-title align-left mbr-fonts-style display-4">
                            support@mobirise.com</h4>
                    </div>
                </div>

                <div class="item">
                    <div class="card-img"><span class="mbr-iconfont img1 mobi-mbri-phone mobi-mbri"></span>
                    </div>
                    <div class="card-box">
                        <h4 class="item-title align-left mbr-fonts-style display-4">+1 (0) 000 0000 001</h4>
                    </div>
                </div>

                


            </div>
            <div class="col-12 col-md-6 col-lg-3 mbr-fonts-style display-7">

                <p class="mbr-text quote align-left mbr-fonts-style display-4">
                    Please contact us any time you would have any issue or question.
                </p>

                <div class="item">
                    <div class="card-img2"><span class="mbr-iconfont ico2 socicon-twitter socicon" style="color: rgb(255, 255, 255); fill: rgb(255, 255, 255);"></span></div>
                    <div class="card-box">
                        <h4 class="theme align-left mbr-fonts-style display-7">
                            TechM4 Theme</h4>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 mbr-fonts-style display-7">
                <h5 class="pb-3 align-left">Support and Downloads</h5>
                <p class="mbr-text align-left text2 mbr-fonts-style display-4">
                    You can always find our application in Apple Store and Google Play
                </p>

                <div class="mbr-section-btn align-left"><a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co/"><span class="socicon socicon-apple mbr-iconfont mbr-iconfont-btn"></span>App Store</a> <a class="btn btn-md btn-white-outline display-4" href="https://mobirise.co/"><span class="socicon socicon-play mbr-iconfont mbr-iconfont-btn"></span>Google Play</a></div>

            </div>
        </div>


    </div>
</section>

<section once="" class="cid-rlfau44JVQ" id="footer01-80">

    

    

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-4">
                    © Copyright 2019 Mobirise – Web Page Dsign Ttemplate – All Rights Reserved 

                </p>
            </div>
        </div>
    </div>
</section>


  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/popper.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/tether.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/bootstrap.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/script.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.touch-swipe.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jarallax.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.mb.ytplayer.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/smooth-scroll.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/bootstrap-carousel-swipe.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.mb.vimeo_player.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.data-tables.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/data-tables.bootstrap4.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery-as-pie-progress.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/mbr-tabs.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/mbr-switch-arrow.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.formstyler.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/jquery.formstyler.min.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/script.js.download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/script.js(1).download"></script>
  <script src="./Tech Company Web Page Design Template – TasteM4_files/formoid.min.js.download"></script>
  
  

</body></html>